---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<ul>
  <li><a href="#organization">Organization</a></li>
  <li><a href="#visits">Visits</a></li>
  <li><a href="#students">Students</a></li>
  <li><a href="#other">Other</a></li>
</ul>



{% assign categories = "organization,visits,students,third-mission,other" | split: "," %}

{% for cat in categories %}
  <h2 id="{{ cat | downcase }}">{{ cat | capitalize }}</h2>
  {% assign items = site.portfolio | where:"type", cat %}
  {% for post in items %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
