{% if post.collection == 'portfolio' %}
  <div class="portfolio-item" style="margin-bottom: 1.5em;">
    <p>
      <strong>{{ post.title }}</strong>
      {% if post.date %}
        <span style="color: #666;">({{ post.date | date: "%Y" }})</span>.
      {% endif %}
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}">link</a> 
      {% endif %} {% if post.contact %}
        <a href="{{ post.contact }}">contact</a> 
      {% endif %}
    </p>
  </div>

{% endif %}
