{% if post.collection == 'publications' %}
 

  <div class="pub-item" style="margin-bottom: 1.5em;">
 {% if post.citation and post.paperurl and post.arxiv and post.doi %}
      <p>* {{ post.citation }}<br /><a href="{{ post.paperurl }}">pdf</a> | <a href="{{ post.arxiv }}">arXiv</a> | <a href="{{ post.doi }}">{ post.doi }
      </a></p>
   
      {% elsif post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">[PDF]</a>
      {% endif %}, {% if post.arXiv %}
        <a href="{{ post.arXiv }}" target="_blank">[arXiv]</a>
      {% endif %}
    </p>

  </div>
{% endif %}
