{% if post.collection == 'publications' %}
 

  <div class="pub-item" style="margin-bottom: 1.5em;">
 {% if post.citation and post.paperurl and post.arxiv and post.doi %}
      <p> - {{ post.citation }}<br /><a href="{{ post.paperurl }}">pdf</a> | <a href="{{ post.arxiv }}">arXiv</a> | <a href="{{ post.doi }}">{{ post.doi }}</a>
    </p>
   {% elsif post.citation and post.paperurl  %}
      <p> - {{ post.citation }}<br /><a href="{{ post.paperurl }}">pdf</a>  </p>
      {% elsif post.paperurl %}
   <p> - {{ post.citation }}     <a href="{{ post.paperurl }}" target="_blank">[PDF]</a>
    </p>
{% endif %}
  </div>

{% elsif post.collection == 'portfolio' %}
  <div class="portfolio-item" style="margin-bottom: 1.5em;">
    <p>
      <strong>{{ post.title }}</strong>
      {% if post.date %}
        <span style="color: #666;">({{ post.date | date: "%Y-%m-%d" }})</span>
      {% endif %}
    </p>

    <p>
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% endif %}
    </p>
  </div>


  <!-- Other custom block if needed  {% elsif post.collection == 'talks' {% else %}
  {% include archive-single-default.html %} %} -->





{% endif %}
